.App {
  text-align: center;
}

html{
  background-color: slategrey ;
}

.Category {
  background-color:purple
}

.GameShow-Container {
  background-color:red
}

.Get-Answer-Button {
  background-color: aqua;
}

.Get-Question-Button {
  background-color:green
}

.Points-Container {
  background-color:yellow
}

.Points-Buttons {
  background-color:pink
}

.Question {
  background-color:orange
}

.Value {
  background-color:lime
}


