.App {
  text-align: center;
}

#HeaderContainer {
  background-color: aqua;
}
#ItemContainer {
  display: grid;
  justify-content: center;
}

.DiscountImage {
  position: absolute;
  animation-name: fifty-animation;
  animation-duration: 2000ms;
  top: 0;
  left: 0;
}
#FooterContainer {
  background-color: aqua;
}
@keyframes fifty-animation {
  0% {
    width: 100vw;
  }
  100% {
    width: 200px;
    display: none;
  }
}
